.carousel-interno {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image_carousel_intern {
    width: auto;
    height: auto;
}

.carousel-interno .carousel-interno-inner {
    display: flex !important;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-interno .carousel-interno-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.carousel-interno .carousel-interno-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-interno .carousel-interno-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-interno .carousel-interno-prev {
    left: 10px;
}

.carousel-interno .carousel-interno-next {
    right: 10px;
}

.carousel-interno .carousel-interno-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    justify-content: center;
    gap: 10px;
}

.carousel-interno .indicador-carousel-interno {
    width: 12px;
    height: 12px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, border 0.3s;
}

.carousel-interno .indicador-carousel-interno.carousel-interno-active {
    background-color: #ffffff2f;
    border: 1px solid #ffffff8f;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 726px;
        height: 461px;
    }

    .carousel-interno .carousel-interno-control {
        padding: 8px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 991px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .image_carousel_intern {
        width: 700px;
        height: 400px;
    }

    .carousel-interno .carousel-interno-item img {
        width: 531px;
        height: 281px;
    }

    .carousel-interno .carousel-interno-control {
        padding: 7px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 767px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 387px;
        height: 205px;
    }

    .carousel-interno .carousel-interno-control {
        padding: 5px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 575px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 72vw;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

@media (max-width: 510px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        height: 100%;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

@media (max-width: 400px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 37.8vh;
        height: 100%;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

@media (max-width: 350px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 35.8vh;
        height: 100%;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

/* Media Query específica para o Samsung Galaxy S8+ */
@media (max-width: 360px) and (min-height: 740px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 240px;
        height: auto;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

/* Media Query específica para o Google Pixel 7 */
@media (max-width: 412px) and (min-height: 915px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

/* Media Query específica para dimensões 430px e 932px */
@media (max-width: 430px) and (min-height: 932px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

/* Media Query específica para dimensões 390px e 844px */
@media (max-width: 390px) and (min-height: 844px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 260px;
        height: 138px;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}

/* Media Query específica para dimensões 414px e 896px */
@media (max-width: 414px) and (min-height: 896px) {
    .carousel-interno {
        width: 100%;
        height: auto;
    }

    .carousel-interno .carousel-interno-item img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .carousel-interno .carousel-interno-control {
        padding: 4px;
    }

    .carousel-interno .indicador-carousel-interno {
        width: 7px;
        height: 7px;
    }
}
