@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



.angle-right{
	margin-top:-3px;
	width: 15px; 
	height: 15px
}
.home{
	width: 25px; 
	height: 25px;
}

.agirimage{
	width: 100%; 
	margin-top: 80px;
	margin-bottom: 20px;
}

.certimage{
	width: 100%;
}

.download-ic{
	width: 20px; 
	height: 20px;
	margin-bottom: 5px;
}

.header-icons{
	width: 30px; 
	height: 30px;
	margin-bottom: 5px;
}

.exclamation-warning{
	margin-top:-3px;
	width: 40px; 
	height: 40px
}

.exclamation-warning-form{
	margin-top:-3px;
	width: 25px; 
	height: 25px
}

.bg-custom-warning{
	background-color: #fdd835 !important;
}

.bg-custom-inform{
	background-color: #303f9f !important;
	
}

.bg-custom-warning-form{
	background-color: #2E7D32 !important;
}
.bx-shadow{
	box-shadow: 1px 1px 1px grey;
}

/* Feito por Gabriel Matheus em estágio Voluntário*/

/* Estilos comuns */
#conteiner_accessibility {
	margin-top: 1rem;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-Acessibility {
    color: #6c757d;
    display: flex;
    justify-content: left;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    font-size: small;
    padding-left: 0;
}

.text-and-icon-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.box_Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ececec;
    text-align: center;
    margin: 7px;
    margin-bottom: 11px;
    padding: 3px;
    background-color: #ffffff;
    border: 1px solid #f7f7f7;
    text-decoration: none;
    border-radius: 10%;
    width: 86px;
    height: 55px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.Accessibility-Icons {
    width: 36px;
    height: auto;
    fill: #1e4261;
}

.Accessibility-Icons-semex {
    width: 18px;
    height: auto;
    fill: #1e4261;
}

.container_Icons_accessibility {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.Icon_Text {
    color: #000000;
    font-size: 13px;
}

.link_AcessoRapido {
    text-decoration: none;
}

#Acess_Title {
    font-size: 1.25rem;
    padding-left: 14px;
	margin-bottom: 0rem!important;
}

/* Estilos específicos para cada largura */
@media (max-width: 655px) {
    #container_title_icons {
        width: 80%;
    }
}

@media (min-width: 768px) {
    #Acess_Title {
        padding-left: 15px;
    }
}

@media (min-width: 993px) {
    .box_Icon {
        margin: 9px;
        margin-bottom: 12px;
        padding: 5px;
        width: 125px;
        height: 75px;
    }

    .Accessibility-Icons {
        width: 41px;
    }

    .Accessibility-Icons-semex {
        width: 22px;
    }

    .Icon_Text {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .box_Icon {
        margin: 15px;
        margin-bottom: 15px;
        padding: 5px;
        width: 148px;
        height: 90px;
    }

    .Accessibility-Icons {
        width: 50px;
    }

    .Accessibility-Icons-semex {
        width: 28px;
		margin-top: 6px;
    }

    .Icon_Text {
        font-size: 16px;
    }
}

