@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
blockquote,
pre,
code,
em,
strong,
b,
u,
small,
mark {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #f7f7f7 !important;
    ;
}

b{
    font-weight: 700;
}

/*carrosel interno de noticias das noticias Gabriel Matheus*/
.news-tag {
    display: inline-block;
    background-color: #21243d; /* Cor de fundo da tag */
    color: white; /* Cor do texto da tag */
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 5px; /* Espaço abaixo da tag */
  }
  
  .news-divider {
    border: none;
    border-top: 1px solid #e0e0e0; /* Linha separadora */
    margin: 5px 0;
  }

.container_noticias_fundo {
    background-color: #f7f7f7 !important;
}

#footer footer .container {
    background-color: #2259a6 !important;
}

.card {
    border: 0px solid rgba(0, 0, 0, 0) !important;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* Título com fonte Roboto negrito */
}

.resumo-descricao h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
    /* Texto comum com fonte Roboto regular */
    text-align: left;
    font-size: 18px;
    margin-bottom: 8px;
}

.resumo-descricao p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* Texto comum com fonte Roboto regular */
    text-align: left;
    font-size: 16px;
    color: #000 !important;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    /* Subtítulo com fonte Roboto semi-negrito */
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* Texto comum com fonte Roboto regular */
}

#team {
    background: #eee !important;
}

.no-bullet {
    list-style-type: none;
}

.space_list {
    margin-left: 5ch;
    width: 90%;
}

.card_video {
    width: 1000px !important;
    height: 100% !important;
}

/* MODIFICAÇÕES MESCLADAS POR PATRICK FERRAZ */

.bread {
    padding-left: 5%;
}

.backdrop {
    background-color: #1a237e;
}

.justified {
    text-align: justify;
}

/* Estilo padrão para dispositivos desktop */
.sec {
    padding-left: 5%;
    padding-right: 5%;
}

.ori {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 668px) {
    .sec {
        padding-left: 0;
        padding-right: 0;
    }

    .container {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mt-5,
    .my-5 {
        margin-top: 1rem !important;
    }
}

.bottom-align {
    vertical-align: bottom;
}

#google-map {
    line-height: 222px;
}

.opacity4 {
    opacity: 0.4;
}

div#tipDiv {
    font-size: 11px;
    color: #000;
    background-color: white;
    border: 1px solid #667295;
    padding: 4px;
    width: 200px;
}

/* for optional caption */
div#tipDiv div.caption {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

div#tipDiv td div.txt {
    text-align: justify;
    padding-right: 4px;
}

.margin-top {
    margin-top: 10px;
}

.editMt-5 {
    margin-top: 5rem;
}

.calendarDiv {
    position: relative;
    overflow: hidden;
}

.calendar {
    width: 80vw;
    height: 90vh;
    display: flex;
    border: 1px solid rgb(119, 119, 119);
}


.map-uesc {
    width: 89.3vw;
    height: 35vh;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    background-color: #2259a6;
}


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.hover-team {
    margin-inline: 10%;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
}

.hover-team:hover {
    background-color: rgba(34, 89, 166, 0.2);
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}


.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007bff !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007bff !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
}

.editUPT {
    width: 500px !important;
}

.color-sub-and-title {
    color: #2259a6 !important;
}

.text-proex {
    color: #2259a6;
}

/* Estilo do cabeçalho da notícia */
.text-proex h3 {
    font-size: 2.25rem;
    /* Ajustar para o tamanho desejado */
    margin-bottom: 1rem;
    /* Espaçamento inferior */
}

.text-proex h6 {
    font-size: 1.125rem;
    /* Ajustar para o tamanho desejado */
    margin-bottom: 0rem;
    /* Espaçamento inferior */
    color: #212529d5;

}

.Notica-dados{
    display: flex!important;
    justify-content: flex-start;
    width: 100%;
}

.end-notice-sec {
    display: flex !important;
    flex-direction: row-reverse;
    margin-top: 1.3rem;
}

.share-sec {
    display: flex !important;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.share-btn {
    display: flex!important;
    justify-content: center;
    align-items: end;
    height: 70%;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #212529bf;
}

.share-btn i {
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}



/* Linha de separação */
.text-proex hr {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.div-recuation{
    margin-top: -1rem;
}

.img-nav {
    width: 5% !important;
    height: 1.6rem;
}

.cor-acoes {
    color: #007bff;
}

.gradient-nav-footer {
    background-color: #2259a6;
}

.navbar-brand {
    font-size: 15px;
    margin-right: 20px;
}

a.navbar-brand:hover {
    background-color: #286AC7;
    border-radius: 5px
}

.carousel--text {
    color: white;
    font-family: Raleway;
    font-size: 25px;
    background-color: #472b7a;
    text-align: center
}

.btn-primary2 {
    background-color: rgb(233, 30, 99);
}

.img-index {
    width: 100%;
}


.text-orange {
    color: orange;
}

.text-size {
    font-size: 13px;
}


.parallax {
    background-image: url("../img/uesc_entrada.jpeg");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-proex-home {
    width: 100%;
    height: auto;

    margin-top: 3.5rem;
}

.team-name {
    text-decoration: none !important;
}


/* Página com todas as noticias */

.divider {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
}

.div-noticia-image {
    flex: 0 0 300px;
    margin-right: 20px;
}

.div-noticia-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.noticia {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 13px;
    padding: 15px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.noticia h5 {
    margin-top: 0;
}

.noticia p {
    margin: 0;
}

.noticia:hover {
    background-color: rgba(34, 89, 166, 0.2);
}

.resumo-descricao {
    flex: 1;
    margin-inline-end: 2%;
    justify-content: center;
    overflow: hidden;
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.category {
    display: inline-block !important;
    background-color: #b5e5ff;
    color: #2259a6;
    padding: 2px 8px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.divisor .container .sec.my-5.ori .category {
    margin-bottom: 1rem;
}

.container .sec.my-5.ori .category {
    margin-bottom: 0.6rem;
}

@media (max-width: 669px){
    .container .sec.my-5.ori .category {
        margin-bottom: 0rem;
    }
}

.font-weight-bold {
    margin-top: 16px !important;
    font-size: 1.2rem;
}

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
}

.text-secondary {
    color: #161616 !important;
    font-size: 14px;
}

.share-div {
    display: flex;
    flex-direction: row;
}

.share-div a {
    color: #bfc0c1;
    margin-left: 10px;
    font-size: 18px;
}

.share-div a:hover {
    color: #0056b3;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    margin-inline: 0.8vw;
    padding-inline: 0.8vw;
    text-decoration: none;
    color: #2259a6;
    font-weight: bold;
}

.pagination a:hover {
    color: #282828;
    border-radius: 10vw;
    background-color: rgba(34, 89, 166, 0.2);
}

.pagination .current-page {
    color: #000;
    text-decoration: underline;
}

/* Estilo comum para ambas as tabelas */
.exportable-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 1rem;
  }
  
  .exportable-table th, .exportable-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 12px;
  }
  
  /* Estilo específico para a tabela grande */
  .large-table .header-row th {
    background-color: #f1f1f1;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  /* Estilo específico para a tabela pequena */
  .small-table td {
    background-color: #fff;
    font-weight: normal;
    text-align: left;
  }
  
  /* Responsividade */
  @media (max-width: 1240px) {
    .large-table {
      display: none;
    }
    .small-table {
      display: table;
    }
  }
  
  @media (min-width: 1241px) {
    .large-table {
      display: table;
    }
    .small-table {
      display: none;
    }
  }
  



/* Ajustes para diferentes tamanhos de tela desktop */

@media (min-width: 768px) and (max-width: 2523px) {
    .div-noticia-image {
        flex: 0 100px 250px;
    }

    .resumo-descricao {
        width: 65%;
    }

    .noticia {
        padding: 10px;
    }

    .font-weight-bold {
        font-size: 1rem;
    }

    .text-secondary {
        font-size: 13px;
    }

    .share-div a {
        font-size: 16px;
    }
}

/* Ajustes para telas mobile */
@media (max-width: 767px) {
    .noticia {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .end-notice-sec {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 1.3rem;
    }

    .share-sec {
        justify-content: flex-start;
    }

    .share-btn i {
        font-size: 20px; /* Ajuste o tamanho do ícone conforme necessário */
    }

    .div-noticia-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        flex: 0 0 100%;
    }

    .resumo-descricao {
        width: 100%;
        margin-inline-end: 0;
        text-align: center;
    }

    .category {
        font-size: 12px;
    }

    .font-weight-bold {
        font-size: 1rem;
        text-align: center;
    }

    .text-secondary {
        font-size: 13px;
    }

    .share-div {
        justify-content: center;
        margin-top: 10px;
    }

    .share-div a {
        font-size: 16px;
    }
}

/* Ajustes adicionais para diferentes tamanhos de tela mobile */
@media (max-width: 525px) {
    .div-noticia-image img {

        margin: 0 auto;
    }

    .font-weight-bold {
        font-size: 0.9rem;
    }

    .text-secondary {
        font-size: 13px;
    }

    .share-div a {
        font-size: 14px;
    }
}




/* ---------------------------------------------- */

/* Página de notícia específica */

.div-img-news {
    width: 100%;
    height: 100%;
    margin-bottom: 3%
}

.img-news {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}

/* ---------------------------------------------- */

/* Card Slider Horizontal */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.news-card-home {
    position: relative;
    height: 06rem;
    padding-block: 7%;
}

.slider-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content-slider {
    margin: 0 40px;
    overflow: hidden;
}

.card,
.card-slider {
    border-radius: 11px;
    background-color: #FFF;
    overflow: hidden;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 10px 14px;
}

.card-content-youtube {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2259a6;
    border-radius: 25px 25px 25px 25px;
}

.card-image {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 3%;
    background: #FFF;
}


.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    flex-grow: 1;
}

.button-slider {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #2259a6;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carousel-control-prev-img {
    width: 1.5rem;
    margin-right: 8.8rem;
    transition: background-color .3s ease;
}

.carousel-control-prev-img:hover {
    background-color: rgba(40, 106, 199, .3);
}

.carousel-control-next-img {
    width: 1.5rem;
    margin-left: 8.8rem;
    transition: background-color .3s ease;
}

.carousel-control-next-img:hover {
    background-color: rgba(40, 106, 199, .3);
}

.button-slider:hover {
    background: #286AC7;
    color: white;
    text-decoration: none;
}

.swiper-navBtn {
    color: #0051c3 !important;
    transition: color 0.3s ease;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}


.swiper-pagination-bullet {
    background-color: #286AC7;
    opacity: 1;
}


/* -------------------------------------------- */

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}


@media (max-width: 1199.99px) {
    .description {
        font-size: 12px;
    }

    .name {
        font-size: 17px;
    }
}


@media only screen and (max-width: 766px) {
    .img-index {
        width: 100%;
        margin-top: 5%;
    }
}

@media screen and (min-width: 767px) {
    .img-index {
        width: 100%;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1183px) {
    .img-index {
        width: 100%;
        margin-top: 7%;
    }
}

@media only screen and (min-width: 1255px) {
    .img-index {
        width: 100%;
        margin-top: 3%;
    }
}

@media (min-width: 1px) and (max-width: 280px) {
    .image-proex-navbar {
        display: none;
    }
}

@media (min-width: 280px) and (max-width: 769px) {
    .image-proex-navbar {
        height: 2rem;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .image-proex-navbar {
        height: 2rem;
    }
}

@media (min-width: 1025px) {
    .image-proex-navbar {
        height: 2rem;
    }
}

@media (min-width: 992px) {
    .edit {
        width: 50% !important;
    }
}

@media (min-width: 768px) {
    .edit {
        width: 50% !important;
    }
}

@media (min-width: 576px) {
    .edit {
        width: 50% !important;
    }
}

.links_internos {
    display: unset !important;
    font-weight: bolder;
}