html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#cesol{
    width: 13%;
}

#mcti{
    width: 16%;
    padding-top: 1%;
}

#amurc{
    width: 15%;
}

#palmares{
    width: 15%;
    
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 17.5rem;
    left: 0;
    width: 100%;
    height: calc(100% - 17rem);
    overflow-y: auto;
    z-index: 1000;
}

#Informacoes_Sec {
    padding: 2% 8%;
}

.Wheretitle {
    text-align: left;
    margin: 1.5ch 0ch;
}

.Text_Map {
    display: flex;
    justify-content: space-between;
}

.Text_Map>div {
    flex: 1;
    margin: 0 10px;
    /* Opcional: adicione margens para espaçamento entre as divs */
}

#informacoes_oqueesperardoevento {
    margin-top: 3.5ch;
}

.Text_Info {
    text-align: justify;
}

header {
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 17rem;

    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

header.fixed {
    position: fixed;
    flex-direction: row;
    padding-top: 10px;
    height: 70.98px;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



img#logo_bahiatecsolar {
    margin-top: 0rem;
    height: 10rem;
    width: 20rem;
    margin-bottom: 1rem;
}

#lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 0 20px 0 20px;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

#lista li a {
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#inscricoes button.scroll-button {
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
    color: #ffffff !important;
    background-color: #033072;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#inscricoes button.scroll-button:hover {
    background-color: #001e46;
}

#inscricoes a {
    border-radius: 8px;
    padding: 8px 22px;
    color: #ffffff !important;
    background-color: #033072;
}

#divisoria_container {
    margin-top: 0rem;
    width: 100%;
    height: 8px;
    top: 0;
    z-index: 999;
    background-color: #212529;
    display: flex;
}

.divisoria1 {
    width: 100%;
    height: 8px;
    background-color: #ed7c08;
}

.divisoria2 {
    width: 100%;
    height: 8px;
    background-color: #ad1823;
}

.divisoria3 {
    width: 100%;
    height: 8px;
    background-color: #70ad18;
}

.divisoria4 {
    width: 100%;
    height: 8px;
    background-color: #006df5;
}

.divisoria5 {
    width: 100%;
    height: 8px;
    background-color: #9b4b17;
}

#container_inicial {
    height: 67vh;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-top: 0rem;
    /* Compensação igual à altura do cabeçalho */
}

#background {
    background-image: url(../img_Semex/fachada_uesc.jpg);
    background-size: cover;
    width: 100%;
    height: 89%;
    background-repeat: no-repeat;
    transition: all 0.9s;
    /* Adiciona uma transição suave de 0.9 segundos */
}

#informe {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100rem;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

#h2_informe {
    margin-bottom: 2rem;
    font-size: 20px;
    background-color: red;
    padding: 0.5%;
    border-radius: 8px;
}

#container_inicial:hover #background {
    transform: scale(1.2);
    /* Amplia o #background e o #informe ao passar o mouse sobre eles */
}

#informe_link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 8px 22px;
    margin: 0.3vw;
    background-color: #ed7c08;
}

#evento_principal {
    width: 100vw;
    height: 35rem;
    margin-top: -2vh;
    background-color: rgb(244, 244, 244);
}

#evento_container {
    padding-top: 1rem;
    width: auto;
    height: 65vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#inicio_evento_container {
    margin-top: 8px;
    margin-bottom: 32px;
}

#evento_container h2 {
    margin-top: 0 !important;
    font-weight: bolder;
    margin-bottom: 8px;
    font-size: 46px;
    color: #033072;
}

#evento_container h3 {
    margin-top: 0 !important;
    color: #757575;
    font-weight: lighter;
    margin-bottom: 8px;
    font-size: 25px;
    width: 100%;
    margin: auto;
}

#meio_evento_container {
    margin-bottom: 32px;
    width: 70%;
    text-align: justify;
}

#evento_container p {
    font-size: 16px;
    font-weight: inherit;
    margin-top: 0 !important;
    margin-bottom: 20px;
    color: #212529;
}

#evento_container a {
    color: white;
    text-decoration: none;
    background-color: #033072;
    border-radius: 8px;
    padding: 12px 26px;
}

#programacao {
    background-color: white
}

.titulo_programacao {
    margin-top: 0 !important;
    font-weight: bolder;
    margin-bottom: 8px;
    font-size: 46px;
    color: #033072;
}

.subtitulo_programacao {
    margin-top: 0 !important;
    color: #757575;
    font-weight: lighter;
    margin-bottom: 8px;
    font-size: 30px;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: white;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.btn-primary {
    color: #fff;
    background-color: #033072;
    border-color: #033072;
}

#container_palestrantes {
    width: 100vw;
    height: 30rem;
    padding-top: 1.5rem;
    background-color: rgb(244, 244, 244);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5vh;
    text-align: center;
}

#palestrantes_titulo h2 {
    font-weight: bolder !important;
    font-size: 46px !important;
    color: #033072;
}

.news-card-home {
    position: relative;
    height: 06rem;
    padding-block: 7%;
}

.slider-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container {
    width: 80rem;
    padding: 40px 0;
}

.slide-content-slider {
    margin: 0 40px;
    overflow: hidden;
}

.card {
    border-radius: 11px;
    background-color: rgb(244, 244, 244);
    justify-content: space-between;
}

.card-slider {
    border-radius: 11px;
    background-color: rgb(244, 244, 244);
    overflow: hidden;
    justify-content: space-between;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2259a6;
    border-radius: 25px 25px 25px 25px;
}

.card-image {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 3%;
    background: #FFF;
}


.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    flex-grow: 1;
}

.button-slider {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #2259a6;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carousel-control-prev-img {
    width: 1.5rem;
    margin-right: 8.8rem;
    transition: background-color .3s ease;
}

.carousel-control-prev-img:hover {
    background-color: rgba(40, 106, 199, .3);
}

.carousel-control-next-img {
    width: 1.5rem;
    margin-left: 8.8rem;
    transition: background-color .3s ease;
}

.carousel-control-next-img:hover {
    background-color: rgba(40, 106, 199, .3);
}

.button-slider:hover {
    background: #f30000;
    color: white;
    text-decoration: none;
}

.swiper-navBtn {
    color: #0051c3 !important;
    transition: color 0.3s ease;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}


.swiper-pagination-bullet {
    background-color: #286AC7;
    opacity: 1;
}

.card_palestrante {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background-color: #FFF;
}

.conteudo_palestrante {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img_palestrante {
    background-color: black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.img_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_wrapper img {
    width: 100%;
    height: auto;
}

.info_palestrante {
    text-align: center;
}

.botao_swipper {
    width: auto !important;
    margin: auto !important;
}

.swiper-button-next {
    right: -10px !important;
    left: auto !important;
}

.swiper-button-prev {
    right: auto !important;
    left: -10px !important;
}

#WhereplusMap {
    align-items: left;
}

.Wheretitle {
    margin-top: 0 !important;
    color: #757575;
    font-weight: lighter;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 400;
}

#informacoes {
    width: 100vw;
    height: 30rem;
}

#informacoes_titulo h2 {
    margin-top: 0 !important;
    font-weight: bolder;
    margin-bottom: 8px;
    font-size: 46px;
    color: #033072;
}

.text_center {
    text-align: center;
}

#apoio {
    background-color: #ffffff;
    padding: 1% 0% 0% 0%;
}

#content_apoio {
    background-color: #F4F4F4;
    margin: 3% 6%;
    border-radius: 2%;
    padding: 2% 0%;
}

#content_apoio h2 {
    margin-top: 0 !important;
    font-weight: bolder;
    margin-bottom: 8px;
    font-size: 46px;
    color: #033072;
}


.box_image {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#box_image_left{
    margin-left: 3%;
}

.Text_apoio {
    color: #757575;
    font-weight: lighter;
    margin-bottom: 8px;
    font-size: 30px;
    margin-top: 2%;
    font-weight: 400;
}

.Image_apoio {
    width: 10vw;
    height: 19%;
}

#ufsb_proex {
    width: 13vw;
}

#ufsb {
    padding-top: 1%;
}

#capes {
    width: 7vw;
}

.map-uesc {
    width: 100%;
    height: 35vh;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

#contatos {
    width: 100vw;
    height: 25rem;
    background-color: #F4F4F4;
    margin-top: 1vh !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contatos_titulo {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#contatos_titulo h2 {
    margin-top: 0 !important;
    font-weight: bolder;
    margin-bottom: 8px;
    font-size: 46px;
    color: #033072;
    width: auto;
}

#contatos_titulo h3 {
    margin-top: 0 !important;
    color: #757575;
    font-weight: lighter;
    margin-bottom: 8px;
    font-size: 30px;
}

#contatos_container_espaco {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contatos_espaco {
    border-radius: 15px;
    background-color: #ffffff;
    margin: 0 1rem 0 1rem;
    width: 20rem;
    height: 8rem;
    color: #757575;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}

.test {
    margin-top: 8px;
}

.contatos_espaco h5 {
    margin-bottom: -10px;
    font-size: larger;
}

footer {
    background-color: #033072;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif';

}

footer img {
    width: 18rem;
    margin: 1% 0;
}

footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

footer span {
    font-weight: bolder;
    font-size: larger;
}

footer a {
    color: white;
}

@media (max-width: 900px) {

    /*Menu Header*/
    .scroll-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #212529;
    }

    #lista {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: black;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0rem;
        padding-bottom: 0rem !important;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 0.4rem;
    }

    .nav-padding-top {
        padding-top: 1.0rem !important;
    }

    .mobile-menu .scroll-link {
        color: #000000;
    }

    .open {
        display: block;
    }

    /* Parte inicial */
    #container_inicial {
        height: 50vh;
        background-color: rgb(244, 244, 244);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        margin-top: 0rem;
    }

    #background {
        background-image: url(../img_Semex/fachada_uesc.jpg);
        background-size: cover;
        background-position: center top;
        width: 100%;
        height: 90%;
        /* Ajuste de altura relativa */
        background-repeat: no-repeat;
        transition: all 0.9s;
    }

    #informe {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        text-align: center;
    }

    #informe h1 {
        font-size: 19px;
    }

    #h2_informe {
        margin-bottom: 2rem;
        font-size: 17px;
        background-color: red;
        padding: 0.5%;
        border-radius: 8px;
    }

    #container_inicial:hover #background {
        transform: none;
    }

    #informe_link {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    #informe_link a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-radius: 8px;
        padding: 8px 22px;
        margin: 0.3vw;
        background-color: #ed7c08;
        font-size: 1rem;
    }

    /* O evento */
    #evento_principal {
        width: 100%;
        height: auto;
        /* Ajuste de altura automática */
        margin-top: -2vh;
        padding-bottom: 6%;
        background-color: rgb(244, 244, 244);
    }

    #evento_container {
        padding-top: 1vh;
        width: auto;
        height: auto;
        /* Ajuste de altura automática */
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #inicio_evento_container {
        margin-top: 8px;
        margin-bottom: 32px;
    }

    #evento_container h2 {
        margin-top: 0 !important;
        font-weight: bolder;
        margin-bottom: 8px;
        font-size: 46px;
        color: #033072;
    }

    #evento_container h3 {
        margin-top: 0 !important;
        color: #757575;
        font-weight: lighter;
        margin-bottom: 8px;
        font-size: 25px;
        width: 90%;
        margin: auto;
    }

    #meio_evento_container {
        margin-bottom: 32px;
        width: 70%;
        text-align: justify;
    }

    #evento_container p {
        font-size: 16px;
        font-weight: inherit;
        margin-top: 0 !important;
        margin-bottom: 20px;
        color: #212529;
    }

    #evento_container a {
        color: white;
        text-decoration: none;
        background-color: #033072;
        border-radius: 8px;
        padding: 12px 26px;
    }

    /* Programação */
    #programacao {
        background-color: white;
        padding-bottom: 0% !important;
    }

    .pt-5 {
        padding-top: 1rem !important;
    }

    /* Palestrantes */
    #container_palestrantes {
        height: auto;
        /* Ajuste de altura automática */
        padding-bottom: 0;
    }

    .titulo_programacao {
        padding-top: 0% !important;
    }

    .pt-3,
    .py-3 {
        padding-top: 1rem !important;
    }

    .mb-5,
    .my-5 {
        margin-bottom: 1rem !important;
    }

    .card,
    .card-slider {
        border-radius: 11px;
        overflow: hidden;
        justify-content: space-between;
    }

    .slider-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slide-container {
        max-width: 1120px;
        width: 100%;
        padding: 40px 0;
    }

    .slide-content-slider {
        margin: 0 40px;
        overflow: hidden;
    }

    .card,
    .card-slider {
        border-radius: 11px;
        overflow: hidden;
        justify-content: space-between;
    }

    .image-content,
    .card-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        padding: 10px 14px;
    }

    .news-card-home {
        position: relative;
        height: 6rem;
        padding-block: 7%;
    }

    /* Informações */
    #informacoes {
        width: 100%;
        height: auto;
        /* Ajuste de altura automática */
    }

    #informacoes_titulo h2 {
        margin-top: 0 !important;
        font-weight: bolder;
        margin-bottom: 8px;
        font-size: 46px;
        color: #033072;
    }

    .text_center {
        text-align: center;
    }

    /* Realização */
    #apoio {
        background-color: #ffffff;
        padding: 1% 0% 0% 0%;
    }

    #content_apoio {
        background-color: #F4F4F4;
        margin: 3% 6%;
        border-radius: 2%;
        padding: 2% 0%;
        height: auto;
        /* Ajuste de altura automática */
    }

    #content_apoio h2 {
        margin-top: 0 !important;
        font-weight: bolder;
        margin-bottom: 8px;
        font-size: 46px;
        color: #033072;
    }

    #box_image_left{
        margin-left: 0%;
    }

    .box_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .Text_apoio {
        color: #757575;
        font-weight: lighter;
        margin-bottom: 8px;
        font-size: 30px;
        margin-top: 2%;
        font-weight: 400;
        padding: 2vh 0;
    }

    .Image_apoio {
        width: 50%;
        height: 19%;
    }

    #ufsb_proex {
        width: 60%;
    }

    #cesol{
        width: 45%;
    }
    
    #amurc{
        width: 45%;
        margin-bottom: 0.5rem;
    }

    #palmares{
        width: 50%;
        margin-top: 0.5rem;
    }

    #mcti{
        width: 50%;
        margin-top: 0.5rem;
    }

    #capes {
        width: 40%;
    }

    .map-uesc {
        width: 100%;
        height: 35vh;
        border-radius: 5px;
        box-shadow: 2px 2px 2px;
    }

    /* Contatos */
    #contatos {
        width: 100%;
        height: auto;
        /* Ajuste de altura automática */
        background-color: #F4F4F4;
        margin-top: 1vh !important;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contatos_titulo {
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contatos_titulo h2 {
        margin-top: 0 !important;
        font-weight: bolder;
        margin-bottom: 8px;
        font-size: 46px;
        color: #033072;
        width: auto;
    }

    #contatos_titulo h3 {
        width: 100%;
        margin-top: 0 !important;
        color: #757575;
        font-weight: lighter;
        margin-bottom: 8px;
        font-size: 25px;
        padding: 0 4%;
        text-align: center;
    }

    #contatos_container_espaco {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }

    .contatos_espaco {
        border-radius: 15px;
        background-color: #ffffff;
        width: 80%;
        height: auto;
        /* Ajuste de altura automática */
        color: #757575;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 10px;
    }

    .test {
        margin-top: 8px;
    }

    .contatos_espaco h5 {
        margin-bottom: -10px;
        font-size: larger;
    }

    /* Footer */
    footer {
        background-color: #033072;
        width: 100%;
        height: auto;
        /* Ajuste de altura automática */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif';

    }

    footer img {
        width: 70%;
        padding: 5% 0;
    }

    footer p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    footer span {
        font-weight: bolder;
        font-size: 20px;
        padding: 0 4%;
        text-align: center;
    }

    footer a {
        color: white;
        text-decoration: none;
    }
}